@import "tailwindcss";

html,
body,
#root{
    width:100%;
    height:100%;
}

body{
    margin:0;
    background:#f8fafc;
    font-family:Inter,Segoe UI,sans-serif;
}

@keyframes slideIn {
    from {
        transform: translateX(120%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slideIn {
    animation: slideIn .35s ease;
}